---
import { commonTexts as commonTextsES } from "../../data/es/services"
import { services as servicesES} from "../../data/es/services"
---

  <div class=" px-6">
    <!-- Header -->
    <div class="text-center max-w-3xl mx-auto  mb-8 md:mb-14">
      <h2 class="text-3xl md:text-4xl font-bold text-textcolor-heading mb-4">
        {commonTextsES.title}
      </h2>
      <p class="text-textcolor-body text-lg">
        {commonTextsES.subtitle}
      </p>
    </div>

    <!-- Grid -->
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
      {servicesES.map(service => (
        <div class="group bg-blue-50 rounded-2xl p-6 shadow-sm hover:shadow-lg transition-all duration-300">
          <div class="text-2xl md:text-3xl mb-4">{service.icon}</div>
          <h3 class="text-lg font-semibold text-textcolor-heading mb-2">
            {service.title}
          </h3>
          <p class="text-sm text-textcolor-body mb-4">
            {service.description}
          </p>
          {/* <a
            href="#contact"
            class="inline-flex items-center text-primary font-medium text-sm hover:underline"
          >
            Solicitar información →
          </a> */}
        </div>
      ))}
    </div>
  </div>
